body {
    background-color: #ece3e3;
    color: rgb(22, 22, 21) ;
    font-family:  'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.6em;
    margin: 0;
    
    
}
.container {
    width: 80%;
    margin: auto;

}





.box-1 {
    background-color: blueviolet;
    color: #312b2b;
    border: 5px solid red;
    border-width: 10px;
    border-top-style: dotted;
    padding: 20px;
    margin: 20px;
}

.box-1 h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
}


.box-2 {
    background-color: lawngreen;
    color: brown;
    border: 5px solid red;
    border-bottom-style: dotted;
    border-width: 10px;
    padding: 20px;
    margin: 20px;
    
}
a {
    text-decoration: none;
    color: #000;

}

a:hover {
    color: red;
}
 a:active {
     color: green;

 }
 a:visited {
     color: rgb(69, 27, 185);
 }

 .button{ 
     background-color: #333;
     color: #fff;
     padding: 10px 15px;
     border: none;
     border-radius: 10px;
 }

.categories {
    border: 1px #cccccc solid;
    padding: 10px;
    border-radius: 15px;
    margin: 20px;
    
}

.categories h2 {
    text-align: center;

}

.categories ul {
    padding: 0;
    list-style: none;
}


.categories li {
    padding-bottom: 8px;
    border-bottom: 1px #333 dotted;
}


.my-form {
    padding: 20px;
}



.my-form .form-group {
    padding-bottom: 15px;

}

.my-form label {
    display: block;
}


.my-form input[type = "text"] , .my-form textarea{ 
    padding: 8px;
    width: 100%;
    

} 

.button:hover {
    background-color: greenyellow;

}


}
.block {
    float: left;
    width: 33.3%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

#main-block {
    float: left;
    width: 70%;
}


#sidebar {
    float: right;
    width: 30%;
    background-color: #333;
    color: #fff;
    padding: 15px;
    box-sizing: border-box;

}
.clr {
    clear: both;
}


.p-box {
    color: #fff;
    width: 800px;
    height: 500px;
    border: 1px solid #000;
    margin-top: 30px;
    position: relative;
    background-image: url(abstract-golden.jpg);
    background-repeat: no-repeat;
    background-position:100px 80px;
}

.p-box h1 {
    position: absolute;
    top: 100px;
    left: 200px;
}

.p-box h2 {
    position: absolute;
    top: 200px;
    bottom: 20px;
}

.fix-me {
    position: fixed;
    top: 400px;
}

.my-list li:first-child {
    background: red;
}


.my-list li:last-child {
    background: blue;
}

.my-list li:nth-child(5) {
    background: green;
}
.my-list li:nth-child(even) {
    background: darkgray;
}




